@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Merriweather:ital@1&family=Source+Sans+Pro&display=swap');

:root{
    --heading-font: Merriweather;
    --paragraph-font: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 22px;
    --primary-color: #648de5   ;
    --secondary-color: #e8e5da ; 
    --accent1-color: #9eb7e5;
    --accent2-color: #cdc392;
}

a, p, h1, h4 { 
    font-family: var(--paragraph-font);
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

nav a{
    color: white;
    text-decoration: none;
    margin: auto;
    padding: 40px;
}

nav a:hover {
    background-color: #e8e5da;
    color: white
}

header {
    background-color: #cdc392;
    display: grid;
    grid-template-columns: 100px auto;
}

.logo {
    margin-left: 5px;
    width: 100%;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    height: 500px;
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1 {
    text-align: center;
    color: white;
    font-family: var(--heading-font);
}

#hero-msg p {
    text-align: center;
    color: white;
}

#hero-msg a{
    color: white;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#background {
    grid-area: 1/3/11/9;
    background-color: #9eb7e5;
    opacity: 0.7;
    z-index: -1;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

main h2, p {
    color: black;
}

#name{
    grid-area: 2/5/3/7;
    font-family: var(--heading-font);
}

#introimg {
    grid-area: 1/1/11/11;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
}

#message {
    grid-area: 3/3/4/9;
    text-align: center;
}

#career {
    grid-area: 4/4/9/8;
}

#career p:nth-of-type(even) {
    text-align: right;
    margin-top: -20px;
}

#home-content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

#home-content a{
    color: white;
}

#app-box {
    display: grid;
    grid-area: 1/8/3/14;
    background-color: #648de5;
    place-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #4d4f4a;
}

#app-bg {
    grid-area: 2/13/4/25;
    background-color: #e8e5da;
    border-radius: 10px;
    z-index: -1;
    box-shadow: 5px 5px 10px #4d4f4a;
}

#app-dsc {
    grid-area: 2/14/4/24;
    text-align: right;
}

#web-box {
    display: grid;
    grid-area: 6/8/8/14;
    background-color: #648de5;
    place-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #4d4f4a;
}

#web-bg {
    grid-area: 7/13/9/25;
    background-color: #e8e5da;
    border-radius: 10px;
    z-index: -1;
    box-shadow: 5px 5px 10px #4d4f4a;
}

#web-dsc {
    grid-area: 7/14/9/24;
    text-align: right;
}

footer {
    background-color: #cdc392;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
}

footer p {
    color: white;
    font-size: 1.2em;
}

footer .social img {
    padding-top: 15px;
}


.icon-bar {
    width: 90px; /* Set a specific width */
    height: 360px;
    background-color: #555; /* Dark-grey background */
    margin-top: 20%;
    position: fixed;
    overflow: auto;
    box-shadow: 5px 5px 10px #4d4f4a;
}

.icon-bar a {
    width: auto;
    height: 90px;
    display: grid;
    place-content: center;
    color: white;
    font-size: 35px;
    text-decoration: none;
}

.icon-bar a i {
    align-self: center;
}
.icon-bar a img {
    height: 90px;
    align-self: center;
    justify-self: center;
}

/*App page*/

.sub-hero {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.sub-hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.sub-hero-img {
    width: 100%;
    opacity: 0.5;
}

.sub-hero-msg {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/3;
    place-content: center;
    text-align: center;
    color: black;
    font-family: var(--heading-font);
}

#app-grid {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(17, 40px);
}

#battle-title {
    grid-area: 1/4/2/28;
}

#battle-button {
    grid-area: 3/4/9/13;
    z-index: 1;
}

#battleship {
    grid-area: 3/4/9/12;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #4d4f4a;
}

#battle-bg {
    grid-area: 8/10/11/28;
    background-color: #e8e5da;
    z-index: -1;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #4d4f4a;
}

#battle-dsc {
    grid-area: 8/12/11/28;
    display: grid;
    place-content: center;
    text-align: center;
}

#msg-bg {
    grid-area: 15/5/18/27;
    background-color: #e8e5da;
    z-index: -1;
    border-radius: 10px;
    height: 70%;
    align-self: center;
    box-shadow: 5px 5px 10px #4d4f4a;
}

#app-msg {
    grid-area: 15/6/18/26;
    display: grid;
    justify-content: center;
    align-content: center;
}

/*Website Page*/

#web-grid {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(17, 40px);
}

#rafting-title {
    grid-area: 1/4/2/28;
}

#rafting-button {
    grid-area: 3/4/9/13;
    z-index: 1;
}

#rafting {
    grid-area: 3/4/9/12;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #4d4f4a;
}

#rafting-bg {
    grid-area: 8/10/11/28;
    background-color: #e8e5da;
    z-index: -1;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #4d4f4a;
}

#rafting-dsc {
    grid-area: 8/12/11/28;
    display: grid;
    place-content: center;
    text-align: center;
    line-height: 0.8em;
}

#webpage-bg {
    grid-area: 15/5/18/27;
    background-color: #e8e5da;
    z-index: -1;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #4d4f4a;
    height: 70%;
    align-self: center;
}

#webpage-msg {
    grid-area: 15/6/18/26;
    display: grid;
    justify-content: center;
    align-content: center;
}


@media screen and (max-width: 900px) {

    .icon-bar {
        display: none;
    }
    #hero, .home-grid , #home-content{
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h1, #hero-msg p, #hero-msg a{
        color: black;
    }
    #background, #name, #message, #career { 
        margin: 50px auto;
        width: 60%;
    }
    #introimg {
        display: none;
    }
    #home-content {
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(30, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }
    #app-box {
        display: grid;
        grid-area: 1/6/3/14;
        background-color: #648de5;
        place-content: center;
        text-align: center;
        border-radius: 10px;
        box-shadow: 5px 5px 10px #4d4f4a;
    }
    #web-box {
        display: grid;
        grid-area: 6/6/8/14;
        background-color: #648de5;
        place-content: center;
        text-align: center;
        border-radius: 10px;
        box-shadow: 5px 5px 10px #4d4f4a;
    }
    .sub-hero, #app-grid, #web-grid{
        display: block;
        height: auto;
    }
    .sub-hero-img {
        display: none;
    }
    .sub-hero-msg {
        display: grid;
        grid-column: 2/3;
        grid-row: 1/3;
        place-content: center;
        text-align: center;
        color: black;
        font-family: var(--heading-font);
        background-color: #e8e5da;
    }
    #battleship {
        width: 50%;
    }
    #battle-dsc {
        grid-area: 3/12/4/28;
        display: grid;
        justify-content: right;
        margin-right: 30px;
    }

    #rafting {
        width: 50%;
    }
    #rafting-dsc {
        grid-area: 3/12/4/28;
        display: grid;
        justify-content: right;
        margin-right: 30px;
    }
    footer {
        margin-top: 25px;
    }
}